/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* background-color: transparent; */

  /* width: 100%; */
}

body {
  /* font-family: "Noto Serif TC", serif; */
  /* width: 100%; */
  background-color: #fff4e4;
  /* color: rgb(17 17 17); */
  line-height: 1.5;
}

.ql-editor {
  font-size: 1rem;
  background-color: white;
}

.ql-editor .ql-video {
  width: 80%;
  height: 40%;
}
